/*
 ** Whimsy Framework Styles
 ** thefanciful.com
*/

body {
	font-family: 'Open Sans', sans-serif;
	color: #4b4b4b;
}

a, a:visited {
	color:#000;
	text-decoration: none;
}

a:hover {
	color:#0099cc;
}

#page {

}

/* MENU STYLES */
#site-navigation {
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
ul.nav-menu {
	text-align: center;
}
ul.nav-menu li {
	display: inline-block;
	float: none;
	padding: 1%;
}
.main-navigation ul ul {
	top: 2.5em;
	background: rgba(255,255,255,1);
	letter-spacing: 0;

}

/* HEADER STYLES */
#masthead {
	padding:2% 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	text-align: center;
	clear: both;
}
.site-branding > h1.site-title {
	font-size: 3em;
	font-weight: 100;
	font-style: italic;
	text-transform: uppercase;
}

/* CONTENT STYLES */
#content {
	padding:2% 6%;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

/* POST STYLES */
.entry-header > h1.entry-title {
	font-size: 2em;
	font-weight: 100;
}
.posted-on {
	display: block;
}
/* FOOTER STYLES */
