/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/

#site-navigation {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    width: 100%;
    display: block;
    z-index: 99999;
    text-align: center;
    position: relative;
    transition: all 0.4s ease;
}

#site-navigation a {
    padding: 10px 26px 10px 10px;
    transition: all 0.4s ease;
}

@media screen and (max-width: 980px) {
    #site-navigation a {
        padding: 0;
    }
}

#site-navigation a img {
    padding: 0;
    transition: all 0.4s ease;
}

.whimsy-nav {
    clear: both;
    display: block;
    width: 100%;
}

.whimsy-nav a {
    text-decoration: none;
    font-weight: 100;
    display: block;
}

ul.whimsy-nav {
    list-style: none;
    margin: 0;
    padding-left: 0;
    /*min-height: 47px;*/
}

.whimsy-nav li {
    position: relative;
    display: inline-block;
}

ul.whimsy-nav li.bordered {
    /* Use .bordered in your WordPress Menu to add a separator. */
    border-left: 1px solid rgba(215, 215, 215, 0.6);
}

.whimsy-nav li a {
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
}

.whimsy-nav li a:hover {
    text-decoration: none;
}

.whimsy-nav li ul {
    margin: 0;
    list-style-type: none;
    display: none;
    position: absolute;
    left: 0;
    /*top: 47px; /* This number should match the min-height for ul.whimsy-nav */
    z-index: 1100;
    text-align: left;
}

.whimsy-nav ul ul {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    letter-spacing: 0;
    float: left;
    z-index: 99999;
    display: none;
    border-radius: 0 0 3px 3px;
    min-width: 200px;
    width: 100%;
    display: block;
    left: 100%;
    top: 0;
}

.whimsy-nav ul ul li {
    position: relative;
}

.whimsy-nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 99999;
}

.whimsy-nav .current_page_item a,
.whimsy-nav .current-menu-item a {
    font-weight: 600;
}


/* Sub-menu */

#site-navigation ul.sub-menu {
    background: rgba(255, 255, 255, 1);
}

#site-navigation ul.sub-menu li a {
    padding: 0.6em;
    display: block;
}

#site-navigation ul.sub-menu li {
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid rgba(216, 216, 216, 0.3);
    min-width: 200px;
    width: 100%;
    text-align: left;
    padding: 0;
}

#site-navigation ul.sub-menu li:hover,
.whimsy-nav.collapsed li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.menu-collapser {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.collapse-button {
    position: absolute;
    right: 0;
    top: 49%;
    padding: 12px;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    transform: translate(0px, -50%);
    box-sizing: border-box;
    line-height: 1em;
    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.collapse-button:hover,
.collapse-button:focus {
    background-image: none;
    background-color: #040404;
    color: #fff;
}

.collapse-button:before {
    font-family: 'FontAwesome';
    content: '\f0c9';
}

.collapse-button .icon-bar {
    display: none;
}

.whimsy-nav li .sub-collapser {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}

.whimsy-nav li .sub-collapser :hover,
.whimsy-nav li .sub-collapser :focus {
    color: rgba(0, 0, 0, 0.6);
}

.whimsy-nav li .sub-collapser:before {
    font-family: 'FontAwesome';
    content: '\f107';
    height: 100%;
    vertical-align: middle;
    padding-top: 1em;
    font-size: 0.75em;
}

.whimsy-nav li .sub-collapser>i {
    display: none;
}

ul.whimsy-nav.collapsed {
    background: rgba(255, 255, 255, 0.9);
}

.whimsy-nav.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.whimsy-nav.collapsed li a {
    display: block;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.whimsy-nav.collapsed li .sub-collapser {
    height: 60px;
    width: 60px;
}

.whimsy-nav.collapsed li>ul {
    display: none;
    position: relative;
}

.whimsy-nav li .sub-collapser .expanded:before {
    font-family: 'FontAwesome';
    content: '\f106';
}

@media screen and (max-width: 980px) {
    /* 980 =================================================== */
    #site-navigation {
        z-index: 99999;
        position: relative;
    }
    ul.whimsy-nav a {
        font-size: 1.3em;
        line-height: 2em;
    }
    .whimsy-nav ul {
        left: auto;
        position: relative;
        top: auto;
        background: rgba(255, 255, 255, 0.9);
        letter-spacing: 0;
        float: none;
        z-index: 99999;
        border-radius: 0;
        display: block;
    }
    .whimsy-nav li>ul {
        box-shadow: none;
        width: 100%;
        top: 0;
    }
}

.whimsy-nav li ul {
    top: 0;
}

.whimsy-nav ul ul a {
    width: 100%;
}

.whimsy-nav li .sub-collapser>i {
    font-size: 2em;
}

.whimsy-nav li .special-menu-link {
    text-transform: uppercase;
    text-align: right;
}

.whimsy-nav li {
    float: none;
    text-align: left;
    width: 100%;
    display: block;
}

.menu-toggle,
.whimsy-nav.toggled .nav-menu {
    display: block;
    font-size: 1em;
    border: 0;
}

.whimsy-nav.collapsed li>ul {
    left: 0;
}

@media screen and (max-width: 360px) {
    /* 360 =================================================== */
    ul.sub-menu li {
        background: rgba(255, 255, 255, 0);
        padding-left: 2em;
    }
}