/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
#site-navigation {
    background: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(16, 21, 22, 0.15);
    box-shadow: 0px 1px 3px 0px rgba(16, 21, 22, 0.15);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    width: 100%;
    display: block;
}
.whimsy-nav {
    clear: both;
    display: block;
    width: 100%;
}
ul.whimsy-nav  {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}
.whimsy-nav li {
    position: relative;
    display: inline-block;
}
ul.whimsy-nav li.bordered {
    /* Use .bordered in your WordPress Menu to add a separator. */
    border-left: 1px solid rgba(215,215,215,0.6);
}
.whimsy-nav a {
    display: block;
    text-decoration: none;
    font-weight: 100;
}
.whimsy-nav ul ul {
    left: -999em;
    position: absolute;
    top: 2.9em;
    background: rgba(255,255,255,0.9);
    letter-spacing: 0;
    float: left;
    z-index: 99999;
    border-radius: 0 0 3px 3px;
}
ul.whimsy-nav.collapsed {
    background: rgba(255,255,255,0.9);
}
.whimsy-nav ul ul ul {
    left: -999em;
    top: 0;
}
.whimsy-nav ul ul a {
    width: 200px;
    font-weight: 500;
    text-align: left;
    text-transform: none;
    padding: 2% 4%;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.whimsy-nav ul ul li { }
.whimsy-nav li:hover > a {
}
.whimsy-nav ul ul :hover > a {
    font-weight: 500;

}
.whimsy-nav ul ul a:hover {
}
.whimsy-nav ul li:hover > ul {
    left: auto;
}
.whimsy-nav ul ul li:hover > ul {
    left: 100%;
}
.whimsy-nav .current_page_item a,
.whimsy-nav .current-menu-item a {
    font-weight: 600;
}
/* Sub-menu */
#site-navigation ul.sub-menu {
    background:rgba(255,255,255,1);
}
#site-navigation ul.sub-menu li {
    display: inline-block;
    float: none;
    padding: 0;
    background: rgba(255,255,255,0.95);
    font-size: 90%;
    font-weight: 500;
    border-bottom: 1px solid rgba(216,216,216,0.3);
}

#site-navigation ul.sub-menu li:hover, .whimsy-nav.collapsed li:hover {
    background:rgba(255,255,255,0.1);
}

.menu-collapser {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button {
    position: absolute;
    right: 0;
    top: 49%;
    width: 60px;
    padding: 14px;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    transform: translate(0px, -50%);
    box-sizing: border-box;
    line-height: 1em;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button:hover, .collapse-button:focus {
    background-image: none;
    background-color: #040404;
    color: #FFF;
}
.collapse-button:before {
    font-family: 'FontAwesome';
    content: '\f0c9';    
}
.collapse-button .icon-bar {
    display: none;
}
.whimsy-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.whimsy-nav li {
    position: relative;
    text-align: center;
    display: inline-block;
}
.whimsy-nav > li { margin-right: -5px; }
.whimsy-nav > li:first-child { border-left: 0 }
.whimsy-nav > li:last-child { margin-right: 0 }
.whimsy-nav li a {
    display: block;
    padding: 10px 26px 10px 10px;
    transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -webkit-transition: background-color 0.5s ease-out;
}
.whimsy-nav li a:hover {
    text-decoration: none;
}
.whimsy-nav li .sub-collapser {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}
.whimsy-nav li .sub-collapser :hover, .whimsy-nav li .sub-collapser :focus { color:rgba(0,0,0,0.6); }
.whimsy-nav li .sub-collapser:before {
    font-family: 'FontAwesome';
    content: '\f107';
    display: block;
    height: 100%;
    vertical-align: middle;
    padding-top: 25%;
}
.whimsy-nav li .sub-collapser > i {
    display: none;
}
.whimsy-nav li ul {
    margin: 0;
    list-style-type: none;
}
.whimsy-nav li ul li  { width: 100%; }
.whimsy-nav li > ul {
    display: none;
    position: absolute;
    left: 0;
    z-index: 1100;
    text-align: left;
}
.whimsy-nav li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1100;
    width: 100%;
    text-align: left;
}
.whimsy-nav.collapsed li {
    display: block;
    width: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.whimsy-nav.collapsed li a {
    display: block;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.whimsy-nav.collapsed li .sub-collapser {
    height: 60px;
    width: 60px;
}
.whimsy-nav.collapsed li > ul {
    display: none;
    position: static;
}
.whimsy-nav li .sub-collapser .expanded:before {
    font-family: 'FontAwesome';
    content: '\f106';
}

@media screen and (max-width: 980px) {
/* 980 =================================================== */

    #site-navigation { 
        z-index: 210;
        position: relative;
    }

    ul.whimsy-nav a {
        padding: 0.6em 1.4em; 
    }
    
    .whimsy-nav ul {
        left: auto;
        position: relative;
        top: auto;
        background: rgba(255,255,255,0.9);
        letter-spacing: 0;
        float: none;
        z-index: 90;
        border-radius: 0;
        display: block;
    }

    .whimsy-nav li > ul {
        box-shadow: none;
        width: 100%;
    }

    .whimsy-nav ul ul a {
        width: 100%;
    }

    .whimsy-nav li .sub-collapser > i {
        font-size: 2em;
    }

    .whimsy-nav li .special-menu-link {
        font-size: 60%;
        text-transform: uppercase;
        text-align: right;
    }
    .whimsy-nav li {
        float: none;
        text-align: left;
        width: 100%;
        font-size: 1.3em;
        display: block;
        line-height: 1.3em;
    }
    .menu-toggle,
    .whimsy-nav.toggled .nav-menu {
        display: block;
        font-size: 1em;
        border: 0;
    }
}
@media screen and (max-width: 360px) {
/* 360 =================================================== */
    ul.sub-menu li {
        background: rgba(255,255,255,0);
        padding-left: 2em;
    }
}